{% extends 'base.html' %}

{% block content %}
<div class="container" style='margin-top: 90px;'>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="mb-4">Saved Post</h1>
            {% for x in u.favorite_post.all %}
            <div class="card mb-4">
                <div class="card-header">
                    {{ x.creater.f_name }}
                    {% if x in u.like_post.all %}
                    <a href="/like/{{ x.id }}"><img src="../static/icons/icons8-heart-50 (2).png" alt="like" width="50" height="50"></a>
                    {% else %}
                    <a href="/like/{{ x.id }}"><img src="../static/icons/icons8-heart-50.png" alt="unlike" width="50" height="50"></a>
                    {% endif %}
                    {{ x.like.all.count }}
                    <a href="/save/{{ x.id }}"><img src="../static/icons/icons8-bookmark-50 (1).png" alt="img" width="50" height="50"></a>
                </div>
                <img src="{{ x.image.url }}" class="card-img-top" alt="img" height="350">
                <div class="card-body">
                    <p class="card-text">{{ x.text }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Created_at: {{ x.created_at }}</li>
                </ul>
                {% if x.creater == u %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="/update/{{ x.id }}" class="card-link">Update</a>
                        <a href="/deletePhoto/{{ x.id }}" class="card-link">Delete</a>
                    </li>
                </ul>
                {% endif %}
                {% if x.comments.all %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="commentArea">
                    {% for y in x.comments.all %}
                        <p><u>{{ y.commenter.f_name }}</u>: {{ y.commentText }}</p>
                        {% if y.commenter == u %}
                        <a href="/deleteComment/{{ y.id }}">Delete</a>
                        {% endif %}
                    {% endfor %}
                    </li>
                </ul>
                {% endif %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <form action="/addComment/{{ x.id }}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment">comment:</label>
                                <textarea name="comment" class="form-control"></textarea>
                                <input class="btn btn-primary mt-2" type="submit" value="Post">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}