{% extends 'base.html' %}

{% block content %}
<div class="container" style='margin-top: 100px;'>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="mb-5">Update a post</h1>
            <form action="/updatePhoto/{{ one.id }}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="text">Text:</label>
                    <textarea name="text" cols="30" class="form-control">{{ one.text }}</textarea>
                </div>
                <input type="submit" value="Update" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}